#body {
	background-color: lightpink;
}

#walls{
    background-color: lightpink;
    width = 500px;
    height = 500px;
}

#box {
    background-color: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px; 
    margin-left: 0px;
    margin-top: 0px;
}