html{
	height:100%;
	overflow-x: hidden;
}
body, #screen1, #screen2{
	width: 100%;
	height: 100%;
	background-color: #ccc;
	font-family: 'Helvatica', sans-serif;
	background-image: url('../img/bg02.jpg');
}
a{
	text-decoration: none;
}
h1{
	font-size: 300%;
	text-decoration: none;
	font-family: 'Emilys Candy', cursive;
	color: #333;
}
h2{
	font-family: 'Gabriela', serif;
	color: #333;
}
#joojoo h2, #joojoo p{color:#5bbbb5;}
#maxie h2, #maxie p{color:#f32a64;}
#yiyi h2, #yiyi p{color:#fda033;}
#screen1{
	position: absolute;
	background-color: #efefef;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}

#screen2{
	position: relative;
	bottom:0;
	height:100%;
	background-color: #efefef;
	margin-left: -102%;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}

#screen2:target {
	margin-left: 0;
	text-align: center;
}

#user-area{
	display: inline-block;
	width:80%;
	margin-top: 21px;
}
#user-area div{
	display: inline-block;
}
#user-area img{
	max-width: 80px;
	max-height: auto;
	min-width: 40px;
	min-height: auto;
	border-radius: 5px;
	width:100%;
}
#panel{
	display: inline-block;
	margin: 0;
	text-align: center;
	width: 100%;
	height: 50%;
}
#bar-section{
	height:10px;
	margin:0 auto;
	padding: 0;
	background-color: #999;
	border-radius: 4px;
	opacity: 0.5;
}
#bar{
	width:50px;
	height:10px;
	background-color: black;
	margin: 0;
	border-radius: 4px;
}
#beat-wrapper{
	padding: 0;
	margin: 1% 0;
	width: 100%;
	height:auto;
}
#panel ul{
	display: inline-block;
	padding:0;
	margin-right: 5px;
	width:4%;
	height:100%;
}
#panel ul li{
	list-style: none;
	min-width: 25px;
	max-width: 50px;
	width:100%;
	height: 11%;
	min-height: 50px;
	margin:4px 0;
	border-radius: 2px;
	background-color: white;
	-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.15);
	-o-box-shadow: 1px 1px 8px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 8px rgba(0,0,0,0.15);
	border-color: #787878 #616161 #4E4E4E;
	border-color: rgba(0,0,0,0.48) rgba(0,0,0,0.54) rgba(0,0,0,0.6);
}
.on-beat{
	background: pink !important;
	z-index: 2;
}
.jooClicked{
	background-color: rgba(83, 183, 179, 0.2) !important;
}
.maxClicked{
	background-color: rgba(240, 112, 148, 0.2) !important;
}
.yiClicked{
	background-color: rgba(242, 163, 71, 0.2) !important;
}
.clicked{
	background-color: #de75c9 !important;
}
.clicked-two{
	background-color: #ee709c !important;
}
.clicked-three{
	background-color: #ee8270 !important;
}
.clicked-four{
	background-color: #ff46b7 !important;
}
/*============================DRAGGING AREA===========================*/
#dragging-area article{
	display: inline-block;
	width:50px;
	height: 50px;
	color: black;
	margin-right: 1%;
	border-radius: 2px;
}
#dragging-area article:hover{
	cursor: move;
}
#dragging-area article.ui-draggable-dragging { opacity:0.7; }
#dragbutton01{
	background: #de75c9;
}
#dragbutton02{
	background: #ee709c;
}
#dragbutton03{
	background: #ee8270;
}
#beat-wrapper ul li.hovered{
	opacity: 0.3;
	background-color: #b56969;
}
/*============================JOIN SCREEN=============================*/
.join-wrapper{
	width:70%;
	margin: auto;
	position: absolute;
	top:10%;
	left:0;
	bottom:0;
	right:0;
}
.join-wrapper ul, .join-wrapper h1, .join-wrapper button{
	text-align: center;
	padding: 0;
}
.join-wrapper ul a{
	display: inline-block;
	width:32%;
	vertical-align: top;
}
.join-wrapper ul a:hover{
	opacity: 0.6;
}
.highlighted{
	background-color: pink;
}
.join-wrapper ul li{
	list-style: none;
	padding: 0;
	margin: 1% 2%;
}
.join-wrapper ul li img{
	max-width: 250px;
	width:100%;
	height: auto;
	padding: 0;	
}
#start{
	text-align: center;
	width:100%;
	top:80%;
	height: auto;
	position:absolute;
	display:block;
}
#quit{
	text-align: center;
	width:100%;
	height: auto;
	position:inherit;
	display:block;
	margin-top: 7%;
}
.button{
	color: #fff;
	display: inline;
	font-weight: bold;
	text-transform: uppercase;
	background-color: black;
	padding: 20px 30px;
}
.button:hover{
	opacity: 0.6;
}
.in-use{
	opacity: 0.5;
	cursor: default;
}
#me{
	max-width: 200px;
	height: 200px;
	margin-bottom: -126px;
	margin-left: -195px;
	display: inline-block;
}
.meIsJoo{
	width: 200px;
	background-image: url('../img/joojoo.png');
}
.meIsMax{
	width: 200px;
	background-image: url('../img/maxie.png');
}
.meIsYi{
	width: 200px;
	background-image: url('../img/yiyi.png');
}
/*buttom*/
#y2{
	margin-left: 20%;
	background: url('../img/y2.png') no-repeat;
	border: none;
	width:151px;
	height: 90px;
	background-size: 300px;
}
#y2:hover{
	background: url('../img/y2.png') no-repeat -150px 0;
	background-size: 300px;
}

#j2{
	margin-left: 20%;
	background-size: 200px;
	background: url('../img/j2.png')no-repeat;
	border: none;
	width:151px;
	height: 90px;
	background-size: 300px;
	float:left;
}
#j2:hover{
	background: url('../img/j2.png')no-repeat -150px 0;
	background-size: 300px;
}
#m2{
	margin-left: 20%;
	background: url('../img/m2.png')no-repeat;
	border: none;
	width:151px;
	height: 90px;
	background-size: 300px;
	float:left;
}
#m2:hover{
	background: url('../img/m2.png')no-repeat -150px 0;
	background-size: 300px;
}
#dragmsg-box{
	width:80%;
	margin:0 auto;
}
/*=====media queries===========*/
@media screen and (max-width: 320px){
}